body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background-color: #202329;
}

.App2 {
display: flex;
justify-content: center;
align-items: center;
text-align: left;
}

.App3{
  padding: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.search{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text{
  padding: 5px;
  font-size: 15px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #cdcdcd;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66,66,66,.75);
  text-shadow: 0px 0px 5px rgba(66,66,66,.75);
  margin-left: 30px;
}

.searchs{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search p{
  color: #9fa0a2;
}

.buscar{
  height: 32px;
  margin-left: 7px;
  background-color: #9fa0a2;
  border: #000000;
  border-radius: 5px;
}

.buscar:hover{
  background-color: #CCCCCC;
}




.card{
  width: 600px;
  height: 240px;
  display: flex;
  overflow: hidden;
  background: rgb(60, 62, 68);
  border-radius: 0.5rem;
  margin: 0.75rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}

.imagen{
  border-radius: 10px;
}

.image{
  width: 100%;
  height: 100%;
  margin: 0px;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  object-position: center center;
  object-fit: cover;
  border-radius: 0.5rem;
}



.info{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  align-items: flex-start;
  flex-direction: column;
}


.name{
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.status{
  font-size: 20px;
  color: white;
  margin-left: 10px;
}

.fecha{

  color: rgb(158, 158, 158);
}

.created{
  color: white;
}

.locationN{
  color: rgb(158, 158, 158);
}

.divS{
  display: flex;
  align-items:baseline;
}



.fecha{
  margin: 0;
}

.success {
  background-color: rgb(42, 140, 0);
  border-radius: 10px;
}

.red {
  background-color: red;
  border-radius: 10px;
}

.gray {
  background-color: rgb(157, 157, 157);
  border-radius: 10px;
}

.setPage{
  display: flex;
  justify-content: center;
  color:  white;
}

.button{
  width: 70px;
  height: 30px;
  background-color:#9fa0a2;
  border-radius: 5px;
  border: #9fa0a2;
  margin: 10px;
  margin-bottom: 50px;
}





